::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track-piece { background-color: rgba(0,0,0,0.0);}
::-webkit-scrollbar-thumb { background-color: #666; border-radius: 5px;}
::-webkit-scrollbar-corner { background-color: rgba(0, 0, 0, 0.1);}
::-webkit-resizer { background-color: #666;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}